<h1><%= @merchant.name %> Coupons</h1>

<%= link_to 'Create a Coupon', new_merchant_coupon_path(@merchant) %>
<% @coupons.each do |coupon|%>
  <%= link_to "#{coupon.name}", merchant_coupon_path(@merchant, coupon) %></br>
<% end %>
